[project]
	description = Face Detection in JavaScript with getUserMedia
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Norman (eric011)
[access "refs/for/refs/*"]
	read = group user/Norman (eric011)
	push = group user/Norman (eric011)
	label-Code-Review = -2..+2 group user/Norman (eric011)
	label-Verified = -1..+1 group user/Norman (eric011)
	rebase = group user/Norman (eric011)
	removeReviewer = group user/Norman (eric011)
	submit = group user/Norman (eric011)
[access "refs/heads/*"]
	read = group user/Norman (eric011)
	create = group user/Norman (eric011)
	push = +force group user/Norman (eric011)
	pushMerge = group user/Norman (eric011)
[access "refs/tags/*"]
	push = +force group user/Norman (eric011)
	pushTag = group user/Norman (eric011)
	pushSignedTag = group user/Norman (eric011)
